body {
    font-size: 1.2em;
}
.skip-link {
  background: #319795;
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-150%);
}

.skip-link:focus {
  transform: translateY(0%);
}
main, footer, figcaption {
    background: white;
}
figure {
    background: url(img/prlab_sqr.jpg);
    background-size: cover;
    clear: both;
}
figure img {
    width: 200px;
    opacity: 0;
    transition: 1.5s;
}
figure img:hover {
    opacity: 1;
    transition: 1s;
}
.person4 {
    background: url(img/czetwertynski_1.jpg);
}
.person5 {
    background: url(img/jakubisiak1.png);
}
.person8 {
    background: url(img/cybin1.jpg);
}
figcaption {
    text-align: center;
    height: 50px;
}
.blank_place {
    height: 40px;
}
footer {
    padding: 5px;
}
footer div {
    max-height: 120px;
    text-align: center;
}
.laws {
    width: 100%;
    text-align: center;
    padding: 10px;
}
footer:first-child {
    margin-right: 10px;
}
@media screen and (min-width: 1142px) {
    body {
        background: #f0f0f0 url("img/background.jpg") fixed center;
        background-size: cover;
    }
    main {
        margin-top: 10px;
        background: rgba(255, 255, 255, 0.87)
    }
}